<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List MVC</title>
    
</head>
<body>

    <div class="container">
        <h1>Lista de Tarefas</h1>

        <form action="/add" method="POST">
            <input type="text" name="description" placeholder="Digite uma tarefa" required>
            <button type="submit">Adicionar</button>
        </form>

        <ul>
            <% tasks.forEach(task => { %>
                <li>
                    <span>
                        <strong><%= task.description %></strong>
                        - <%= task.status %>
                    </span>

                    <a href="/delete/<%= task.id %>">Remover</a>
                </li>
            <% }) %>
        </ul>
    </div>

</body>
</html>